{% extends 'myapp/base.html' %}
{% block myhdg %} Hello {{ user }} {% endblock %}
{% block body_block %}

<body>
     {% if cat_list %}
         <h2>List of Categories</h2>
         <ol>
             {% for cat in cat_list %}
            <li><a href="{{ cat.id }}/">{{ cat.name }}</a></li>
             {% endfor %}
        </ol>
     {% else %}
        <strong>Category not found!</strong>
     {% endif %}

        <div>
        {% if logininfo %}
            <p>Last login : {{logininfo}}</p>
        {% endif %}</div>

        <div>

</body>

{% endblock %}